.root {
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
}

.chart {
    -fx-background-color: transparent;
    -fx-pref-height: 400px;
}
.chart-plot-background {
    /*-fx-background-color: rgba(21, 20, 20, 0.74);*/
    -fx-background-color: transparent;
}

.chart-vertical-grid-lines {
    -fx-stroke: #e0b41e;
    -fx-stroke-width: 1;
}

.chart-horizontal-grid-lines {
    -fx-stroke: #939393;
    -fx-stroke-width: 1;
}

.reload-button {
    -fx-background-color: #343232;
    -fx-background-radius: 50px;
    -fx-border-color: black;
    -fx-border-radius: 50px;
    -fx-border-width: 1px;
    -fx-cursor: hand;
}

.reload-icon {
    -fx-text-fill: white;
    -fx-fill: white;
}

.result-container {
    -fx-spacing: 20px;
    -fx-padding: 15px;
    -fx-background-color: #2c3e50;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #34495e;
    -fx-border-width: 2px;
}

/* Etykiety opisowe */
.result-label {
    -fx-text-fill: #ecf0f1;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

/* Wartości wyników */
.result-value {
    -fx-text-fill: #f39c12;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

/* HBox wewnątrz kontenera */
.result-container > HBox {
    -fx-spacing: 10px;
    -fx-alignment: center-left;
}

/* ENTRY COMPONENT */